$black: #000;
$white: #fff;

$grey: #636363;
$red: #FF121F;
$darkRed: #C80A14;
$green: #539635;
$darkGreen: #0B5729;
$mutedGreen: #539635;
$lightGreen: #008D3E;
$mutedRed: #C80A14;
$bgcolor: $white;


