@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat"), local("Montserrat Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat"), local("Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}


@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat"), local("Montserrat SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Mossport";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local("Mossport"),
    url("../fonts/Mossport.woff2") format("woff2"),
    url("../fonts/Mossport.woff") format("woff");
}
