.button {
    display: inline-flex;
    height: 4.2rem;
    justify-content: center;
    align-items: center;
    background-color: $red;
    color: $white;
    padding: 1rem 2.4rem;
    margin: 0;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-family: $monserrat;
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
    transition: 0.2s color ease-in-out, 0.2s background-color ease-in-out, 0.2s border-color ease-in-out;

    &:hover,
    &:active {
      &:not(.no-hover) {
        background-color: $darkRed;
        color:$white;
      }
    }


    &--green {
      background-color: $green;

      &:hover,
      &:active {
        &:not(.no-hover) {
          background-color: $darkGreen;
          color:$white;
        }
      }
    }

    @media (max-width: $tablet) {
      font-size: 2.4rem;
      border-radius: 6px;
      border-width: 2px;

      &:hover,
      &:active {
        background-color: $white;
        color: $red;
      }
    }

    @media(max-width: $mobile) {
        font-size: 1.4rem;
        line-height: 1;
        padding: 0.6rem 1.5rem;
        border-radius: 6px;
        height: 2.6rem;

        &:hover,
        &:active {
          background-color: $red;
          color: $white;
        }
    }

    &--free {
      color: $white;
      background-color: transparent;
      border: 1px solid $white;
      width: 23rem;
      text-align: center;
      justify-content: center;

      @media (max-width: $tablet) {
        width: 100%;
      }

      cursor: auto;

      &:hover {
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
      }
    }

    &--small {
      font-size: 3rem;
      line-height: 1.2;

      @media (max-width: $tablet) {
        font-size: 30px;
      }

      @media (max-width: $mobile) {
        font-size: 20px;
      }
    }
}
