.cookie-modal {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: $red;
  padding: 3.4rem;
  color: $white;
  max-width: 76rem;
  border-radius: 30px;

  @media (max-width: $tablet) {
    width: 92%;
    padding: 1.8rem;
  }

  &.hidden {
    display: none;
  }

  &__close {
    background: none;
    border: none;
    position: absolute;
    top: 3.4rem;
    right: 3.4rem;
    padding: 0;
    cursor: pointer;

    @media (max-width: $tablet) {
      top: 1.8rem;
      right: 1.8rem;
      width: 2.7rem;
      height: 2.7rem;
    }
  }

  &__text {
    width: 85%;

    p {
      font-size: 1.5rem;
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 2rem;
      }


      a {
        color: currentColor;
      }

      @media (max-width: $mobile) {
        font-size: 1.4rem;
        line-height: 1.1;
      }
    }
  }

}
