.dummy {
  padding-bottom: 5rem;

  @media (max-width: $mobile) {
    padding-bottom: 0rem;
  }

  &__box {
    position: relative;
    border-radius: 19px;
    background-color: $green;
    overflow: hidden;
    z-index: 3;

    @media (max-width: $mobile) {
      border-radius: 12px;
    }

    &--dark {
      background-color: $darkGreen;
      margin: 0 0 4.1rem;
    }
  }

  &__texture {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    height: 35rem;
    width: 100%;
    background-image: url('../img/texture.png');
    background-repeat: repeat;
    background-position: 7.9rem 34.6rem;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    background-size: 64.2rem;

    @media (max-width: $tablet) {
      height: 28rem;
      background-position: 7.9rem 28rem;
    }

    @media (max-width: $mobile) {
      height: 23rem;
      background-position: 0px 22.3rem;
      background-size: 37.5rem;
    }
  }

  &__texture-vertical {
    position: absolute;
    left: 0;
    top: 0;
    width: 32rem;
    height: 100%;
    background-image: url(..//img/texture-vertical.png);
    background-size: 49rem;
    background-position: -17rem 0;
    border-bottom-left-radius: 19px;
    z-index: 1;

    @media (max-width: $tablet) {
      top: auto;
      bottom: 0;
      height: 27rem;
      width: 100%;
      background-image: url(..//img/texture.png);
      background-repeat: repeat;
      background-position: 0 38.7rem;
      border-top-left-radius: 19px;
      border-top-right-radius: 19px;
      background-size: 38.2rem;
    }
    @media (max-width: $mobile) {
      height: 16rem;
      background-position: 17.6rem 16rem;
      background-size: 34rem;
      transform: rotate(180deg);
    }
  }

  &__box-content {
    position: relative;
    z-index: 3;
    display: flex;
    gap: 4.2rem;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      gap: 0;
      padding-bottom: 20rem;
    }

    @media (max-width: $mobile) {
      padding-bottom: 24rem;

    }
  }

  &__box-left {
    flex-shrink: 0;

    .desktop {
      @media (max-width: $tablet) {
        display: none;
      }
    }

    .mobile {
      display: none;

      @media (max-width: $tablet) {
        display: block;
      }
    }

    @media (max-width: $tablet) {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__link {
    display: block;
    margin: 8.3rem auto 28.3rem;
    width: 25.6rem;
    height: 4.2rem;
    line-height: 1;

    @media (max-width: $tablet) {
      width: 26rem;
      margin: 5.3rem auto 20.3rem;
    }

    @media (max-width: $mobile) {
      margin: 4.5rem auto 17.3rem;
      height: auto;
      padding: 0.6rem 0.5rem;
      width: 15.7rem;
      font-size: 1.6rem;
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;
    position: static;
  }

  &__main {
    position: relative;
    flex-shrink: 0;
    z-index: 3;


    @media(max-width: $mobile) {
      width: auto;
    }
  }

  &__decor {
    flex-shrink: 1;
    transform: scale(133.5%);
    transform-origin: 100% 100%;

    @media (max-width: $tablet) {
      position: absolute;
      width: 35rem;
      right: 0;
      bottom: 0;
    }

    @media (max-width: $mobile) {
      width: auto;
      transform: none;
    }

    .desktop {
      @media (max-width: $mobile) {
        display: none;
      }
    }

    .mobile {
      display: none;

      @media (max-width: $mobile) {
        display: block;
      }
    }
  }

  .logos {
    display: flex;
    margin: 0 auto 3.1rem;
    max-width: 99.7rem;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;

    @media (max-width: $tablet) {
      gap: 3rem;
    }

    @media (max-width: $mobile) {
      margin: 0 auto 3.5rem;
    }

    &--red {
      width: auto;
      padding: 2rem;
      background-color: $red;
      border-radius: 19px;
      align-items: center;
      gap: 3.14rem;
    }

    &__logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $white;
      transition: color 0.2s ease;

      &:hover {
        @media(min-width: 1025px) {
          color: $red;
        }

      }

      .logos--red &:hover {
        color: $white;
      }
    }
  }


  &__title {
    font-size: 10.8rem;
    line-height: 1;
    font-family: $mossport;
    text-transform: uppercase;
    margin: 7.3rem 0 5.6rem;
    text-align: center;

    @media (max-width: $tablet) {
      font-size: 5rem;
    }

    @media (max-width: $mobile) {
      margin: 0 auto 2.8rem;
      font-size: 4.5rem;
      line-height: 1;
      max-width: 30rem;
    }
  }

  &__description {
    font-family: $monserrat;
    max-width: 85.6rem;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    line-height: 1.01;

    p {
      margin: 0 0 3rem;
    }
    a {
      color: white;
      &:hover {
        color: $red;
      }
    }

    @media (max-width: $tablet) {
      font-size: 1.6rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
      max-width: 26.6rem;

      p {
        margin: 0 0 1rem;
      }
    }
  }

  &__bullits {
    display: flex;
    justify-content: center;
    gap: 4.5rem;
    margin: 0 0 6.5rem;

    @media (max-width: $mobile) {
      gap: 1.3rem;
      margin: 0 0 4rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1.3rem;

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 2rem;
      width: 30rem;
    }

    @media (max-width: $mobile) {
      width: auto;
      align-items: flex-start;
      gap: 1rem;
    }
  }

  &__icon {
    @media (max-width: $mobile) {
      width: 3rem;
    }
  }

  &__bullit {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    span {
      text-transform: uppercase;
      font-family: $mossport;
      font-size: 3.7rem;
    }

    @media (max-width: $mobile) {
      gap: 1.1rem;
      span {
        font-size: 2rem;
      }
    }
  }
}
