.fan {
  position: relative;
  width: 100%;
  overflow: visible;
  padding: 3rem 0 1.2rem;

  .opacity-hidden {
    opacity: 0;
  }

  @media (max-width: $laptop) {
    padding-bottom: 10rem;
  }

  @media (max-width: $tablet) {
    padding-bottom: 3rem;
  }

  .container {
    position: relative;
  }

  &__subtitle {
    color: $grey;
    font-size: 2.2rem;
    line-height: 1.1;
    font-weight: 500;
    max-width: 90rem;
    margin: 0 0 7rem;

    @media (max-width: $tablet) {
      font-size: 1.8rem;
    }
  }

  &__button {
    border-radius: 20px;
    gap: 0.9rem;
    font-size: 1.8rem;
    line-height: 1.1;
    padding: 0.8rem 1.9rem;
    height: auto;
    width: 100%;
    font-family: $monserrat;
    margin-top: 2.8rem;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 4.5rem;

    @media (max-width: $tablet) {
      margin: 0 0 3.5rem;
    }

    @media (max-width: $tablet) {
      margin: 0 0 4rem;
    }
  }

  &__time {
    color: $white;
    background-color: $red;
    border-radius: 19px;
    padding: 1rem 1.5rem;
    font-size: 5rem;
    line-height: 1.01;

    @media (max-width: $tablet) {
      font-size: 3rem;
    }
  }

  &__slider {
    position: relative;
    overflow: visible;
    margin: 0 0 16.1rem;

    @media (max-width: $tablet) {
      padding-top: 4.2rem;
      margin: 0 0 6rem;
    }

    @media (max-width: $tablet) {
      margin: -1rem 0 5.6rem;
    }
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
  }

  &__arrow {
    position: absolute;
    top: 12.6rem;
    z-index: 20;
    cursor: pointer;

    @media (max-width: $tablet) {
      top: 0;
    }

    .disabled & {
      display: none;
    }

    &--prev {
      left: -8.4rem;

      @media (max-width: $desktop) {
        left: -4rem;
      }

      @media (max-width: $tablet) {
        left: calc(50% - 4rem);
      }

    }

    &--next {
      right: -8.2rem;

      @media (max-width: $desktop) {
        right: -4rem;
      }

      @media (max-width: $tablet) {
        right: calc(50% - 4rem);
      }
    }

    @media (max-width: $tablet) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__slide-image {
    width: 100%;
    height: 29.9rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0 0 3rem;

      @media (max-width: $tablet) {
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%;
      }

      @media (max-width: $tablet) {
        border-radius: 12px;
        margin: 0 0 1rem;
      }
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    background-color: $red;
    min-height: 100%;
    height: auto;
    border-radius: 19px;
    padding: 3.5rem 3.1rem 3.1rem 3rem;

    @media (max-width: $tablet) {
      padding: 2.1rem 1.6rem 2.1rem 1.7rem;
      border-radius: 12px;
    }



    p {
      font-size: 2rem;
      line-height: 1.1;
      font-family: $monserrat;
      margin: 0;


    }

    p:not(:last-child) {
      margin: 0 0 2rem;
    }

    @media (max-width: $tablet) {
      p {
        font-size: 1.4rem;
      }

      p:not(:last-child) {
        margin: 0 0 1.5rem;
      }
    }
  }

  &__slide-text {
    a {
      color: $white;
      display: block;
      margin-top: 10px;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__slide-title {
    color: $white;
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.01;
    margin: 0 0 2.5rem;

    &--white {
      color: $white;
    }

    @media (max-width: $tablet) {
      font-size: 2.4rem;
    }

    @media (max-width: $tablet) {
      font-size: 2.1rem;
      margin: 0 0 1.2rem;
    }
  }

  &__slide-time {
    color: $white;
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.01;
    margin: 2.9rem 0 0rem;
  }

  &__decor {
    position: absolute;
    top: 22.9rem;
    right: -0.7rem;
    z-index: 1;
  }


}
