.faq {
  position: relative;
  padding: 13.5rem 0 13.5rem;
  z-index: 2;
  overflow: hidden;

  .container {
    position: relative;
  }

  @media (max-width: $tablet) {
    padding: 4.4rem 0 3rem;
  }

  @media (max-width: $mobile) {
    padding: 10.9rem 0 11rem;
  }

  &__decor {
    position: absolute;
    top: 18.6rem;
    right: 0;
    z-index: 2;

    &--bottom {
      top: auto;
      left: auto;
      bottom: 0;
      left: 0;
    }
  }

  &__box {
    position: relative;
    border-radius: 19px;
    background-color: $darkGreen;
    overflow: hidden;
    padding: 27.6rem 10rem 6.7rem;

    @media (max-width: $tablet) {
      padding: 27.6rem 2.9rem 6.3rem;
    }

    @media (max-width: $mobile) {
      border-radius: 12px;
      padding: 17.9rem 1.95rem 6rem;
    }
  }

  &__texture {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    height: 24rem;
    width: 100%;
    background-image: url('../img/texture.png');
    background-repeat: repeat;
    background-position: -0.2rem 22.7rem;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    background-size: 58.2rem;
    z-index: 5;

    @media (max-width: $mobile) {
      height: 16rem;
      width: 100%;
      background-image: url(../img/texture.png);
      background-repeat: repeat;
      background-position: -0rem 16rem;
      border-top-left-radius: 19px;
      border-top-right-radius: 19px;
      background-size: 34.2rem;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    margin: 0 0 7.1rem;

    @media (max-width: $tablet) {
      margin: 0 0 3.7rem;
    }

    @media (max-width: $mobile) {
      margin: 0 0 4.2rem;
    }
  }

  &__accordeon {
    position: relative;
    z-index: 2;
  }

  &__hidden {
    display: none;

    &.show {
      display: block;
    }
  }


  &__item {
    width: 100%;
    margin: 0 0 2rem;
    padding: 2.3rem 3.3rem 2.8rem 3rem;
    background-color: $red;
    color: $white;
    border-radius: 19px;
    overflow: hidden;

    &.active {
      background-color: $white;
    }

    @media (max-width: $tablet) {

    }

    @media (max-width: $mobile) {
      border-radius: 12px;
      margin: 0 0 1.6rem;
      padding: 1.2rem 1.3rem 0.8rem 1.6rem;

    }
  }

  &__toggler {
    font-family: $mossport;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $red;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    color: $white;
    line-height: 1.01;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;


    @media (max-width: $tablet) {
      position: relative;
      font-size: 2.4rem;
      text-align: left;
      line-height: 1;
      height: auto;

    }

    @media (max-width: $mobile) {
      font-size: 2.4rem;
      line-height: 1.1;
      text-align: left;
      align-items: flex-start;
      gap: 1rem;
      padding-right: 3rem;

    }

    .active & {
      color: $grey;
      border-bottom: 1px solid $green;
      padding-bottom: 2.5rem;

      .faq__plus {
        display: none;
      }

      .faq__minus {
        display: block;
      }

    }

  }

  &__icon {
    display: flex;
    width: 4rem;
    height: 4rem;

    img {
      width: 4rem;
      height: 4rem;
      fill: $darkGreen;
      align-self: flex-start;
    }

    .faq__minus {
      display: none;
    }

    @media (max-width: $tablet) {
      position: absolute;
      right: 0;
      top: -0.5rem;
      width: 2.7rem;
      height: 2.7rem;
      margin: 0 0 0 5rem;

      img {
        width: 2.7rem;
        height: 2.7rem;
      }
    }

    @media (max-width: $mobile) {
      margin: 0 0 0 1rem;
      top: 0;
      width: 2.3rem;
      height: 2.3rem;
    }
  }


  &__content {
    display: none;
    color: $grey;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.1;
    margin: 2.8rem 0 0;
    max-width: 85rem;
    font-family: $monserrat;

    @media (max-width: $tablet) {
      font-size: 2rem;
      line-height: 1;
      margin: 2rem 0 0;
      padding: 0 0 .7rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
      margin: 1.2rem 0 0;
    }

    .active & {
      display: block;
    }
  }

  &__show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.5rem auto 0;

    &.hidden {
      display: none;
    }

    button {
      border-radius: 17px;
      cursor: pointer;
    }
  }

}
