.hero {
  margin: 0 0 4.1rem;
  &__box {
    position: relative;
    border-radius: 19px;
    padding: 27.2rem 0 6.9rem;
    background-color: $darkGreen;
    overflow: hidden;
    z-index: 3;

    @media (max-width: $mobile) {
      border-radius: 12px;
    }
  }

  &__texture {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    height: 25rem;
    width: 100%;
    background-image: url('../img/texture.png');
    background-repeat: repeat;
    background-position: 0rem 25rem;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    background-size: 58rem;

    @media (max-width: $tablet) {
      height: 28rem;
      background-position: 7.9rem 28rem;
    }

    @media (max-width: $mobile) {
      height: 23rem;
      background-position: 0px 22.3rem;
      background-size: 37.5rem;
    }
  }


  &__box-content {
    position: relative;
    z-index: 3;
    display: flex;
    gap: 4.2rem;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      gap: 0;
      padding-bottom: 20rem;
    }

    @media (max-width: $mobile) {
      padding-bottom: 24rem;

    }
  }

  &__box-left {
    flex-shrink: 0;

    .desktop {
      @media (max-width: $tablet) {
        display: none;
      }
    }

    .mobile {
      display: none;

      @media (max-width: $tablet) {
        display: block;
      }
    }

    @media (max-width: $tablet) {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__link {
    display: block;
    width: 25.6rem;
    height: 4.2rem;
    line-height: 1;

    @media (max-width: $tablet) {
      width: 26rem;
    }

    @media (max-width: $mobile) {
      height: auto;
      padding: 0.6rem 0.5rem;
      width: 15.7rem;
      font-size: 1.6rem;
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;
    position: static;
  }

  &__main {
    position: relative;
    flex-shrink: 0;
    z-index: 3;


    @media(max-width: $mobile) {
      width: auto;
    }
  }

  .logos {
    display: flex;
    margin: 0 auto 3.1rem;
    max-width: 76rem;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;

    @media (max-width: $tablet) {
      gap: 3rem;
    }

    @media (max-width: $mobile) {
      margin: 0 auto 3.5rem;
    }

    &--red {
      width: auto;
      padding: 2rem;
      background-color: $red;
      border-radius: 19px;
      align-items: center;
      gap: 3.14rem;
    }

    &__logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $white;
      transition: color 0.2s ease;

      &:hover {
        @media(min-width: 1025px) {
          color: $red;
        }

      }

      .logos--red &:hover {
        color: $white;
      }
    }
  }

  &__title {
    font-size: 9rem;
    line-height: 1;
    font-family: $mossport;
    text-transform: uppercase;
    margin: 4.9rem 0 4.1rem;
    text-align: center;

    @media (max-width: $tablet) {
      font-size: 5rem;
    }

    @media (max-width: $mobile) {
      margin: 0 auto 2.8rem;
      font-size: 4.5rem;
      line-height: 1;
      max-width: 30rem;
    }
  }

  &__description {
    font-family: $monserrat;
    max-width: 85.6rem;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    line-height: 1.01;

    p {
      margin: 0 0 3rem;
    }
    a {
      color: white;
      &:hover {
        color: $red;
      }
    }

    @media (max-width: $tablet) {
      font-size: 1.6rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
      max-width: 26.6rem;

      p {
        margin: 0 0 1rem;
      }
    }
  }

  &__bullits {
    display: flex;
    justify-content: center;
    gap: 5.5rem;
    margin: 0 0 5.3rem;

    @media (max-width: $mobile) {
      gap: 1.3rem;
      margin: 0 0 4rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1.3rem;

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 2rem;
      width: 30rem;
    }

    @media (max-width: $mobile) {
      width: auto;
      align-items: flex-start;
      gap: 1rem;
    }
  }

  &__icon {
    @media (max-width: $mobile) {
      width: 3rem;
    }
  }

  &__bullit {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    span {
      text-transform: uppercase;
      font-family: $mossport;
      font-size: 3rem;
    }

    @media (max-width: $mobile) {
      gap: 1.1rem;
      span {
        font-size: 2rem;
      }
    }
  }

  &__labels {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }

  &__label {
    color: $white;
    font-size: 1.8rem;
    padding: 0.9rem 2.3rem;
    border-radius: 10px;


    &--green {
      background: $mutedGreen;
    }

    &--red {
      background: $mutedRed;
    }
  }

  &__link {
    margin: 3.3rem auto 0;
    padding: 1rem;
    width: 23rem;
    height: 4rem;
  }

  &__decor {
    position: absolute;
    z-index: 2;

    &--right {
      bottom: 0;
      right: 0;
    }

    &--left {
      bottom: 0;
      left: 0;
    }

    &--top {
      top: 9rem;
      left: 0;
      z-index: 2;
    }
  }
}
