.map {
  position: relative;
  padding: 12.8rem 0 21.7rem;
  overflow: hidden;

  @media (max-width: $tablet) {
    padding: 8.5rem 0 8.8rem;
  }

  @media (max-width: $mobile) {
    padding: 1.5rem 0 25.4rem;

    .container {
      padding: 0;
    }
  }

  svg,button {
    -webkit-tap-highlight-color: transparent;
  }

  .container {
    position: relative;
  }

  &__title {
    margin: 0 0 4.6rem;

    @media (max-width: $mobile) {
      padding: 0 1.6rem;
    }
  }

  &__map {
    position: relative;
    width: 131%;
    max-width: 179.6rem;
    margin-left: 39.5%;
    margin-top: -5.8rem;

    @media (max-width: $tablet) {
      margin: 0;
      max-width: 107.2rem;
      width: 156%;
      margin-top: 2rem;
      margin-left: -3.8rem;
    }

    @media (max-width: $mobile) {
      max-width: 124.2rem;
      width: 256%;
    }
  }

  &__decor {
    position: absolute;
    bottom: -2.6rem;
    left: 51.4%;
    transform: translateX(-50%);
  }

  &__map-content {
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
    }

    @media (max-width: $mobile) {
      margin-top: -3.5rem;
    }

  }

  &__map-wrapper {
    @media (max-width: $mobile) {
      overflow-x: auto;
      padding-top: 6.5rem;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        display: none;
      }
    }

  }

  &__under {
    user-select: none;
    img {
      width: 100%;
      object-fit: contain;
    }

  }

  &__scheme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
      g {
        position: relative;
        cursor: pointer;
        z-index: 2;

        &.is-active {
          z-index: 5;
          rect,
          .rect {
            fill: $green;
            stroke: $white;
          }

          path {
            fill: $white;
          }
        }
      }
  }

  &__modal {
    position: absolute;
    top: 29rem;
    left: 36rem;
    z-index: 115;
    width: 37.2rem;
    background-color: $green;
    color: $white;
    border-radius: 43px;
    padding: 3.4rem 3.4rem 3.1rem 3.6rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: $tablet) {
      width: 33.5rem;
      padding: 2.5rem 2.4rem;
      top: 7.7rem;
      left: 4.5rem;
      border-radius: 30px;
    }

    @media (max-width: $mobile) {
      width: calc(100% - 3.2rem);
      //padding: 3.6rem;
      top: 26.7rem;
      left: 1.6rem;
    }

  }

  &__modal-title {
    font-size: 3.6rem;
    line-height: 1;
    text-transform: uppercase;
    font-family: $mossport;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 0 0 2rem;
    max-width: 85%;

    @media (max-width: $tablet) {
      font-size: 2.4rem;
    }

    @media (max-width: $mobile) {
      margin: 0 0 1.6rem;
    }
  }

  &__modal-close {
    position: absolute;
    top: 2.7rem;
    right: 1.8rem;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: $white;

    @media (max-width: $tablet) {
      top: 1.8rem;
      right: 1.8rem;
      width: 3rem;
      height: 3rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__modal-goto {
    cursor: pointer;

    &.is-hidden {
      display: none;
    }

    @media (max-width: $tablet) {
      font-size: 2.4rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
    }
  }

  &__decor-mobile {
    display: none;

    @media (max-width: $mobile) {
      position: absolute;
      top: -7rem;
      left: -6.7rem;
      display: block;
    }
  }

  &__map-content {
    position: relative;
    display: flex;

    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
    }

  }

  &__list {
    z-index: 59;
    list-style: none;
    padding: 5.9rem 0 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    column-gap: 2.5rem;
    max-height: 80rem;
    width: 43.7%;

    @media (max-width: $tablet) {
      position: relative;
      width: 100%;
      height: auto;
      padding: 7.5rem 0 0;
    }

    @media (max-width: $mobile) {
      height: auto;
      column-count: auto;
      padding: 3.1rem 1.4rem 0;
      max-height: initial;
    }
  }

  &__mobile-arrows {
    display: none;

    @media (max-width: $mobile) {
      display: block;
      margin: 3rem auto 0;
    }

  }

  &__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: $white;
    padding: 2.6rem 2.6rem 2.6rem 3rem;
    font-size: 4rem;
    line-height: 1;
    font-family: $mossport;
    text-transform: uppercase;
    margin: 0;
    cursor: pointer;
    min-height: 15rem;
    background-color: $darkGreen;
    border-radius: 19px;

    &:hover {
      background-color: $green;
    }

    &:not(:last-child) {
      margin: 0 0 1.2rem;
    }

    &.is-active {
      background-color: $green;
    }

    time {
      position: absolute;
      font-family: $monserrat;
      text-transform: none;
      top: 4rem;
      right: 2.3rem;
      font-size: 1.8rem;
      line-height: 1.1;
      font-weight: 500;
    }

    p {
      margin: 0;
      position: relative;
      display: flex;
      gap: 1.8rem;
      max-width: 80%;
    }

    a {
      display: inline-flex;
      align-items: center;
      color: $white;
      gap: 0.9rem;
      font-family: $monserrat;
      font-size: 2.2rem;
      line-height: 1.1;
      font-weight: 500;
      text-decoration: none;
      text-transform: capitalize;
      background-color: $red;
      border-radius: 20px;
      padding: 0.8rem 1.9rem;
      margin-top: 1.8rem;

      &:after {
        content: '';
        width: 1.3rem;
        height: 1.3rem;
        background-size: cover;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><path d="M0.707092 14L13.7071 1M13.7071 1L0.707092 1M13.7071 1L13.7071 14" stroke="white" stroke-width="2"/></svg>');
      }

      @media (max-width: $tablet) {
        margin-top: 1rem;
        font-size: 1.7rem;
      }
    }

    @media (max-width: $tablet) {
      font-size: 2.4rem;
      line-height: 3rem;
      height: auto;
      margin: 0 0 0.9rem;

      span {
        font-size: 2.4rem;
      }
    }
  }

  &__route {
    display: inline-flex;
    align-items: center;
    color: $red;
    border: 1px solid $red;
    border-radius: 30px;
    gap: 0.9rem;
    padding: 0.8rem 1.9rem;
    font-size: 2.2rem;
    line-height: 1.1;
    font-weight: 500;
    text-decoration: none;
    transition: transform all 0.2s ease-in;
    margin: 0 0 4.36rem;

    @media (max-width: $tablet) {
      font-size: 1.5rem;
    }

    &:hover {
      color: white;
      background-color: $red;
    }
  }

  &__text {
    color: $grey;
    font-size: 2.2rem;
    line-height: 1.1;
    font-weight: 500;
    max-width: 79.6rem;

    @media (max-width: $tablet) {
      font-size: 1.8rem;
      max-width: 60rem;
    }
  }
}
