.scene {
  &__title {
    margin: 0 0 4.5rem;
  }
  &__box {
    position: relative;
    background-color: $green;
    color: $white;
    border-radius: 19px;
    padding: 3.2rem 33.8rem 2rem 3.1rem;
    overflow: hidden;

    @media (max-width: $tablet) {
      padding: 3rem 3rem 22rem;
    }
  }

  &__decor {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
    z-index: 1;

    &--bottom {
      top: auto;
      left: auto;
      bottom: 0;
      right: 0;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__row {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin: 0;
    padding: 3rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid $darkGreen;
    }

    &:first-child {
      padding-top: 0;
    }

    @media (max-width: $tablet) {
      &.with-button {
        position: relative;
        padding: 3rem 0 7.5rem;
      }
    }
  }
  &__time {
    position: relative;
    font-family: $mossport;
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    padding: .4rem 1.7rem;
    border: 1px solid $white;
    border-radius: 30px;
    z-index: 4;
  }

  &__content-title {
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 0.9;


    &:not(:last-child) {
      margin: 0 0 1.5rem;
    }
  }

  &__content-description {
    font-size: 1.8rem;
    font-family: $monserrat;
    line-height: 1.1;

    &:not(:last-child) {
      margin: 0 0 1.6rem;
    }

  }

  &__button {
    border-radius: 20px;
    gap: 0.9rem;
    font-size: 1.8rem;
    line-height: 1.1;
    padding: 0.8rem 1.9rem;
    height: auto;
    font-family: $monserrat;

    @media (max-width: $tablet) {
      width: 100%;
      position: absolute;
      bottom: 1.8rem;
      left: 0;
    }
  }

  &__avatar {
    overflow: hidden;
    width: 8.2rem;
    height: 8.2rem;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &__texture {
    position: absolute;
    right: 0;
    top: 0;
    width: 33rem;
    height: 100%;
    background-image: url(..//img/texture-vertical.png);
    background-size: 49.2rem;
    background-position: -17.4rem 0;
    z-index: 3;
    transform: scaleX(-1);

    @media (max-width: $tablet) {
      top: auto;
      bottom: 0;
      height: 21rem;
      width: 100%;
      background-image: url(..//img/texture.png);
      background-repeat: repeat;
      background-position: 0 20.7rem;
      border-top-left-radius: 19px;
      border-top-right-radius: 19px;
      background-size: 38.2rem;
      transform: scaleY(-1);
    }
    @media (max-width: $mobile) {
      height: 16rem;
      background-position: 17.6rem 16rem;
      background-size: 34rem;
      transform: rotate(180deg);
    }
  }
}
